.assortment
{
    width: 100%;
    height: 650px;
    background: rgba(216,216,216,0.20);
    margin-top: 70px;
    z-index: 999;
}

.assortment__all
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.assortment__about
{
  margin-top: 0px;
}

.assortment__title
{
  width: 500px;
  font-family: "PT Sans-Bold";
  color: #383838;
  font-size: 42px;
  line-height: 47px;
  padding-top: 55px;
  position: relative;
  left:60px;
  margin-bottom: 70px;
}

.assortmentt__title span
{
  text-transform: uppercase;
  color: #afcc43;
}

.assortment__description
{
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 30px;
    margin-left: 60px;
    width: 500px;
}

.assortment__description span
{
  font-weight: bold;
}

.assortment__img img
{
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {


  .assortment {
      width: 100%;
      height: 1000px;
      background: rgba(216, 216, 216, 0.2);
      margin-top: 70px;
      z-index: 999;
  }

  .assortment__all {
  flex-direction: column;

}

.assortment__title {
    width: 650px;
    font-family: "PT Sans-Bold";
    color: #383838;
    font-size: 42px;
    line-height: 47px;
    text-align: center;
    padding-top: 55px;
    position: relative;
    left: 105px;
    margin-bottom: 70px;
}

.assortment__description {
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 30px;
    margin-left: 130px;
    width: 620px;
}

.assortment__img img {
    margin-top: 20px;
    margin-left: 120px;
}

}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .assortment
  {
      width: 100%;
      height: 900px;
      background: rgba(216,216,216,0.20);
      margin-top: 70px;
      z-index: 999;
  }
  .assortment__all
  {
    flex-direction: column;
  }

  .assortment__title
  {
    width: 280px;
    left: 40px;
    margin-bottom: 0;
  }

  .assortment__description
  {
    margin-left: 40px;
    width: 280px;
    margin-bottom: 0;
  }

  .assortment__img img {
    margin-top: 20px;
    width: 280px;
    margin-left: 40px;
}




}
