.knitting
{
    width: 100%;
    height: 600px;
    background: rgba(216,216,216,0.20);
    margin-top: 70px;
    z-index: 999;
}

.knitting__all
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.knitting__about
{
  margin-top: 0px;
}

.knitting__title
{
  width: 500px;
  font-family: "PT Sans-Bold";
  color: #383838;
  font-size: 42px;
  line-height: 47px;
  padding-top: 55px;
  position: relative;
  left:60px;
  margin-bottom: 70px;
}

.knitting__title span
{
  text-transform: uppercase;
  color: #afcc43;
}

.knitting__description
{
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 30px;
    margin-left: 60px;
    width: 500px;
}

.knitting__description span
{
  font-weight: bold;
}

.knitting__img img
{
  margin-top: 20px;
}
