.many_posibility
{
    width: 100%;
    height: 670px;
    background: rgba(216,216,216,0.20);
    margin-top: 70px;
    z-index: 999;
}

.many_posibility__all
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.many_posibility__title
{
  width: 800px;
  font-family: "PT Sans-Bold";
  color: #383838;
  font-size: 42px;
  line-height: 47px;
  text-align: center;
  padding-top: 55px;
  position: relative;
  left:105px;
  margin-bottom: 70px;
}

.many_posibility__description
{
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 30px;
    margin-left: 130px;
    width: 620px;
}

.many_posibility__img img
{
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {


  .many_posibility {
      width: 100%;
      height: 1300px;
      background: rgba(216, 216, 216, 0.2);
      margin-top: 70px;
      z-index: 999;
  }

  .many_posibility__all {
  flex-direction: column;

}

.many_posibility__title {
    width: 650px;
    font-family: "PT Sans-Bold";
    color: #383838;
    font-size: 42px;
    line-height: 47px;
    text-align: center;
    padding-top: 55px;
    position: relative;
    left: 105px;
    margin-bottom: 70px;
}

.many_posibility__description {
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 30px;
    margin-left: 130px;
    width: 620px;
}

.many_posibility__img img {
    margin-top: 20px;
    margin-left: 120px;
}


}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .many_posibility
  {
    height: 1350px;
  }


  .many_posibility__all
  {
    display: flex;
    flex-direction: column;
  }

  .many_posibility__title {
    width: 280px;
    font-family: "PT Sans-Bold";
    color: #383838;
    font-size: 42px;
    line-height: 47px;
    text-align: left;
    padding-top: 55px;
    position: relative;
    margin-bottom: 70px;
    left: 40px;
}

.many_posibility__description {
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 30px;
    margin-left: 40px;
    width: 280px;
}

.many_posibility__img img
{
  width: 280px;
  margin-left: 40px;
}


}
