.sport
{
    height: 670px;
}

.sport__all
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.sport__about
{
  margin-top: 80px;
}

.sport__title
{
  width: 700px;
  font-family: "PT Sans-Bold";
  color: #383838;
  font-size: 42px;
  line-height: 47px;
  padding-top: 55px;
  position: relative;
  left:40px;
  margin-bottom: 70px;
}

.sport__title span
{
  text-transform: uppercase;
  color: #afcc43;
}

.sport__description
{
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 30px;
    margin-left: 40px;
    width: 500px;
}

.sport__description span
{
  font-weight: bold;
}

.sport__img img
{
  margin-top: 50px;
  margin-left: 120px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .sport
  {
      height: 1200px;
  }

  .sport__all
  {
    display: flex;
    flex-direction:column;
  }

  .sport__title {
    width: 650px;
    font-family: "PT Sans-Bold";
    color: #383838;
    font-size: 42px;
    line-height: 47px;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 50px;
    left: 105px;
}

  .sport__description {
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 30px;
    margin-left: 150px;
    width: 500px;
  }


  .sport__img img
  {
    width: 650px;
    margin-top: 20px;
    margin-left:80px;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {


.sport
{
  height: 900px;
}

.sport__all
{
  flex-direction: column;
}

.sport__about
{
  margin-top: 0;
}

.sport__title {
    width: 280px;
    font-family: "PT Sans-Bold";
    color: #383838;
    font-size: 42px;
    line-height: 47px;
    padding-top: 55px;
    position: relative;
    left: 40px;
    margin-bottom: 0px;
}

.sport__description {
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 30px;
    margin-left: 40px;
    width: 280px;
}

.sport__img img {
    margin-top: 0px;
    margin-left: 40px;
    width: 280px;
}

}
