.tekstil
{
    height: 670px;
}

.tekstil__all
{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.tekstil__about
{
  margin-top: 80px;
}

.tekstil__title
{
  width: 700px;
  font-family: "PT Sans-Bold";
  color: #383838;
  font-size: 42px;
  line-height: 47px;
  padding-top: 55px;
  position: relative;
  left:40px;
  margin-bottom: 70px;
}

.tekstil__title span
{
  text-transform: uppercase;
  color: #afcc43;
}

.tekstil__description
{
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 31px;
    color: #383838;
    margin-bottom: 30px;
    margin-left: 40px;
    width: 500px;
}

.tekstil__description span
{
  font-weight: bold;
}

.tekstil__img img
{
  margin-top: 50px;
  margin-left: 120px;
}
